{% extends 'base.html' %}

{% block link1 %}
<h1 class="link-text-1"><a href="{{ url_for('characters.character_index') }}">Characters</h1></a>
{% endblock %}
{% block link2 %}
<h1 class="link-text-1"><a href="{{ url_for('weapons.weapon_index') }}">Weapons</h1></a>
{% endblock %}

{% block header %}
  <h1>{% block title %}Zones{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('zones.create') }}">Create</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for zone in zones %}
    <article class="post">
      <header>
        <div>
          <h1>{{ zone['zone_name'] }}</h1>
          <div class="about">created on: {{ zone['created'] }}</div>
          <div>Level Range: {{ zone['zone_level_range'] }} | Difficulty: {{ zone['difficulty'] }}</div>
          <div>Characters: {{ zone['num_characters'] }} | Creatures: {{ zone['num_creatures'] }}</div>
        </div>
      {% if g.user['id'] == zone['user_id'] %}
        <a class="action" href="{{ url_for('zones.update', id=zone['id']) }}">Edit</a>
      {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
