{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ weapon['weapon_name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="weapon_name">Weapon Name</label>
    <input name="weapon_name" id="weapon_name"
      value="{{ request.form['weapon_name'] or weapon['weapon_name'] }}" required>
    <label for="weapon_type">Weapon Type</label>
    <input name="weapon_type" id="weapon_type"
      value="{{ request.form['weapon_type'] or weapon['weapon_type'] }}" required>
    <div class="form-group">
      <label for="weapon_level">Weapon Level: </label>
      <input type="number" name="weapon_level" min="1" max="120"
        value="{{ request.form['weapon_level'] or weapon['weapon_level'] }}" required>
    </div>
    <div class="form-group">
      <label for="rarity">Rarity: </label>
      <select name="rarity" selected="{{ request.form['rarity'] or weapon['rarity'] }}" required>
        {% if request.form['rarity'] == 'Common' or weapon['rarity'] == 'Common' %}
          <option selected value="Common">Common</option>
        {% else %}
          <option value="Common">Common</option>
        {% endif %}
        {% if request.form['rarity'] == 'Uncommon' or weapon['rarity'] == 'Uncommon' %}
          <option selected value="Uncommon">Uncommon</option>
        {% else %}
          <option value="Uncommon">Uncommon</option>
        {% endif %}
        {% if request.form['rarity'] == 'Rare' or weapon['rarity'] == 'Rare' %}
          <option selected value="Rare">Rare</option>
        {% else %}
          <option value="Rare">Rare</option>
        {% endif %}
        {% if request.form['rarity'] == 'Epic' or weapon['rarity'] == 'Epic' %}
          <option selected value="Epic">Epic</option>
        {% else %}
          <option value="Epic">Epic</option>
        {% endif %}
        {% if request.form['rarity'] == 'Legendary' or weapon['rarity'] == 'Legendary' %}
          <option selected value="Legendary">Legendary</option>
        {% else %}
          <option value="Legendary">Legendary</option>
        {% endif %}
      </select>
    </div>
    <div class="form-group">
      <label for="zone_name">Location: </label>
      <select name="zone_name" required>
        {% for name in zone_names %}
          {% if name[0] == request.form['zone_name'] or name[0] == zone_name %}
            <option selected value="{{ name[0] }}">{{ name[0] }}</option>
          {% else %}
          <option value="{{ name[0] }}">{{ name[0] }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('weapons.delete', id=weapon['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this weapon?');">
  </form>
{% endblock %}
