{% extends 'base.html' %}

{% block link1 %}
  <h1 class="link-text-1"><a href="{{ url_for('zones.zone_index') }}">Zones</h1></a>
{% endblock %}
{% block link2 %}
  <h1 class="link-text-1"><a href="{{ url_for('weapons.weapon_index') }}">Weapons</h1></a>
{% endblock %}

{% block header %}
  <h1>{% block title %}Characters{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('characters.create') }}">Create</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for character in characters %}
    <article class="post">
      <header>
        <div>
          <h1>{{ character['character_name'] }}</h1>
          <div class="about">by: {{ character['username'] }} on: {{ character['created'].strftime('%Y-%m-%d') }}</div>
          <div>Kills: {{ character['character_kills'] }} | Level: {{ character['character_level'] }}</div>
          <div>Time Played: {{ character['hours_played'] }}</div>
          <div>Weapon: {{ character['weapon_name'] }} | Rarity: {{ character['rarity'] }} | Location: {{ character['zone_name'] }}</div>
        </div>
        {% if g.user['id'] == character['user_id'] %}
          <a class="action" href="{{ url_for('characters.update', id=character['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
