{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Table Visualization{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container">
      <table class="responsive-table">
          <caption>Characters</caption>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">User ID</th>
              <th scope="col">Equipped Weapon ID</th>
              <th scope="col">Hours Played</th>
              <th scope="col">Level</th>
              <th scope="col">Player Kills</th>
            </tr>
          </thead>
          <tbody>
            {% for character in characters %}
              <tr>
                  <th scope="row">{{ character['id'] }}</th>
                  <td data-title="Name">{{ character['character_name'] }}</td>
                  <td data-title="User ID">{{ character['user_id'] }}</td>
                  <td data-title="Equipped Weapon ID">{{ character['e_wep_id'] }}</td>
                  <td data-title="Hours Played">{{ character['hours_played'] }}</td>
                  <td data-title="Level">{{ character['character_level'] }}</td>
                  <td data-title="Player Kill">{{ character['character_kills'] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
  <div class="container">
      <table class="responsive-table">
          <caption>Weapons</caption>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">User ID</th>
              <th scope="col">Zone ID</th>
              <th scope="col">Level</th>
              <th scope="col">Type</th>
              <th scope="col">Rarity</th>
            </tr>
          </thead>
          <tbody>
            {% for weapon in weapons %}
              <tr>
                  <th scope="row">{{ weapon['id'] }}</th>
                  <td data-title="Name">{{ weapon['weapon_name'] }}</td>
                  <td data-title="User ID">{{ weapon['user_id'] }}</td>
                  <td data-title="Zone ID">{{ weapon['zone_id'] }}</td>
                  <td data-title="Level">{{ weapon['weapon_level'] }}</td>
                  <td data-title="Type">{{ weapon['weapon_type'] }}</td>
                  <td data-title="Rarity">{{ weapon['rarity'] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
  <div class="container">
      <table class="responsive-table">
          <caption>Zones</caption>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">User ID</th>
              <th scope="col">Characters</th>
              <th scope="col">Creatures</th>
              <th scope="col">Minimum Level</th>
              <th scope="col">Maximum Level</th>
              <th scope="col">Difficulty</th>
            </tr>
          </thead>
          <tbody>
            {% for zone in zones %}
              <tr>
                  <th scope="row">{{ zone['id'] }}</th>
                  <td data-title="Name">{{ zone['zone_name'] }}</td>
                  <td data-title="User ID">{{ zone['user_id'] }}</td>
                  <td data-title="Characters">{{ zone['num_characters'] }}</td>
                  <td data-title="Creatures">{{ zone['num_creatures'] }}</td>
                  <td data-title="Minimum Level">{{ zone['zone_level_range_min'] }}</td>
                  <td data-title="Maximum Level">{{ zone['zone_level_range_max'] }}</td>
                  <td data-title="Difficulty">{{ zone['difficulty'] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
{% endblock %}
