{% extends 'base.html' %}

{% block link1 %}
  <h1 class="link-text-1"><a href="{{ url_for('characters.character_index') }}">Characters</h1></a>
{% endblock %}
{% block link2 %}
  <h1 class="link-text-1"><a href="{{ url_for('zones.zone_index') }}">Zones</h1></a>
{% endblock %}
{% block link3 %}
  <h1 class="link-text-1"><a href="{{ url_for('tables.table_index') }}">Tables</h1></a>
{% endblock %}

{% block header %}
  <h1>{% block title %}Weapons{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('weapons.create') }}">Create</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for weapon in weapons %}
    <article class="post">
      <header>
        <div>
          <h1>{{ weapon['weapon_name'] }} | {{ weapon['weapon_type'] }}</h1>
          <div class="about">created on: {{ weapon['created'] }}</div>
          <div>Weapon Level: {{ weapon['weapon_level'] }} | Rarity: {{ weapon['rarity'] }}</div>
          <div>Location: {{ weapon['zone_name'] }}</div>
        </div>
      {% if g.user['id'] == weapon['user_id'] %}
        <a class="action" href="{{ url_for('weapons.update', id=weapon['id']) }}">Edit</a>
      {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
